@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Roboto', sans-serif; */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header div .nav-btn{
    background-color: #3DAB9F;
    color: white;
  
    border-radius: 30px;
}
header div .nav-btn .nav-icon {
    margin-right: 10px;
}
header div .nav-btn:hover{
    background-color: white;
    outline: 2px solid #089788;
    color: black;
}
section div img.heder-img{
    width: 100%;
    height: auto;
 
}

.header-slider{
    position: relative;
    top: 0;
    left: 0;
}
/* ==========================header text========================== */
.header-text{
    position: absolute;
    top:15%;
    left: 8%;
    padding-left: 5px;
}

.header-slider .header-text p{
    color: rgb(71, 71, 71);
    font-family:'Roboto', sans-serif ;
    font-weight: bold;
    font-size: 20px;
   text-transform: capitalize;
   padding: 0 !important;
   margin: 0 !important;
}
.header-slider .header-text h1{
    text-transform: uppercase;
    font-family:'Roboto', sans-serif ;

    font-weight: 700;
    font-size: 90px;
    color: rgb(36, 35, 35);
    margin: 0 !important;
    padding: 0 !important;

}
/* ===============================navbar============================ */

.header-slider .navbar{
    position: absolute;
    bottom: 0%;
    left: 0%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    /* background-color: #ffffff; */
  }
  li{
      margin: 20px 0px ;
  }
  
  li a {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 0px 30px 30px 0px;

  }

  
  li a.active {
    background-color: #089788;
    color: white;
  }
  
  li a:hover{
   outline: 2px solid #089788;
   background-color: white;
    color: rgb(0, 0, 0);
    text-decoration: none;
    
  }
/* =============================== details ========================== */
.details-container{
    position: relative;
    top: 0;
    left: 0;
   
}

.details-container .details-text{
    position:absolute;
    top: 0%;
    left: 0%;
    transform: translate(50px, 50px);
  

}

.details-container .details-text p{
    font-family:'Roboto', sans-serif ;
    text-transform: capitalize;
    font-size: 18px;
    color: rgb(54, 54, 54);


}
.details-container .details-text-2{
    position:absolute;
    top: 50%;
    right: 0%;
    transform: translate(50px, -50px);
}
.details-container .details-text-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.details-container .details-text-2 .img-1{
    width: 200px;
    height: 200px;

    position:absolute;
    top: 0%;
    left: 50%;
    transform: translate(-200px, -50px);
    z-index: 1;

}
.details-container .details-text-2 .img-2{
    width: 200px;
    height: 200px;
    position:absolute;
    top: 0%;
    left: 50%;
    transform: translate(-80px, -130px);

    z-index: 2;
    
    }
 .details-container .details-text-2 .img-3{
    width: 200px;
    height: 200px;
    position:absolute;
    top: 0%;
    left: 15%;
    transform: translate(180px, 0px);
        z-index: 3;
 }
 .details-container .details-text-2 .img-outline{
     border: 2px solid #089788;
     box-shadow: 5px 5px 10px rgb(0, 0, 0);
 }
                
    /* =============================== slider===================================== */
    .slider-text{
        font-size: 100px;
        font-weight: 900;
        font-family:'Roboto', sans-serif ;
        text-transform: uppercase;
        margin-left: 50px ;
        margin-bottom: 0px !important;

    }
/* =================================== item =================================== */
.item-text{
    font-size: 50px;
    font-family:'Roboto', sans-serif ;
    font-weight: 900;
     text-transform: uppercase;
}












/* ======================== brand-item===================== */

div.container .slider{
    width: 100%;
    height: 200px;
    
    position: relative;
    top: 0;
    left: 0;
    display:flex;
justify-content: space-around;
align-items: center;
}
div.container .slider .slide:hover {
   background-color: rgb(240, 240, 240);
   padding: 30px;
   transition: all .3s ;
   /* box-shadow: 5px ​5px 10px black; */
   box-shadow: 5px 5px 10px rgb(122 122 122);
}
section .container .brand-text{
    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
    color: rgb(88, 88, 88);
    margin-bottom: 0 !important;
    padding: 5px 0px;
    font-size: 40px;
}
/* =========================== brand item end =================== */


/* ================================massage image ======================== */
.mag-container {
    display: flex;
    justify-content: right;
}
.mag-image{
    width: 200px ;
    height: 150px;
  margin-bottom: -30px;

}

/* ===============footer============================ */
footer .footer-bg{
    background-color: #3DAB9F;
    color:#fff;
}
footer .footer-copyright{
    color: white;
}
footer .footer-copyright:hover{
    color: black;
    text-decoration: none;
}
footer .footer-icon{
    color: white;
}
footer .footer-icon:hover{
    color: black;
}
.icon-bg{
    background-color: #3DAB9F !important;
}
